body {
  font: normal 12px/1.0em arial,verdana;
}

h1 {
  font: bold 24px/2.4em arial,verdana;
  letter-spacing: 2px;
}

h3 {
  font: italic 18px/1.8em arial,verdana;
  letter-spacing: -0.2em;
}

p {
  font: bold 12px/1.2em arial,verdana;
  letter-spacing: 16px;
}
